{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-section">
            <div class="logo">
                <img src="{% static 'core/img/logo.png' %}" alt="logo">
            </div>
            <h2>Bem-Vindo</h2>
            <p>Por favor, insira seus dados</p>
            <form method="post" action="{% url 'aluno_login' %}">
                {% csrf_token %}
                <label for="username">E-mail</label>
                <input type="email" id="id_email" name="username" placeholder="Digite seu email" required>
                <label for="password">Senha</label>
                <input type="password" id="id_senha" name="senha" placeholder="********" required>
                <div class="remember-forgot">
                    <a href="#">Esqueceu sua senha?</a>
                </div>
                <button type="submit" class="login-btn">Entrar</button>
            </form>
            <p class="signup">Ainda não tem uma conta? <a href="{% url 'cadastraUsuario' %}">Cadastre-se</a></p>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="image-section">
            <img src="{% static 'core/img/image.png' %}" alt="Image">
        </div>
    </div>
    <script src="{% static 'core/js/script.js' %}"></script>
</body>
</html>
