<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Menu</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <div class="logo">
                <i class="fas fa-graduation-cap"></i>
                <h2>eCoursie</h2>
            </div>
            <ul>
                <li class="active"><a href="#"><i class="fas fa-tachometer-alt"></i><span>Início</span></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i><span>Avaliaçoes</span></a></li>
                <li><a href="#"><i class="fas fa-user-friends"></i><span>Turmas</span></a></li>
                <li><a href="#"><i class="fas fa-calendar-alt"></i><span>Seus Dados</span></a></li>
            </ul>
        </nav>

        <main>
            <header>
                <h1>Página inicial</h1>
                <div class="user">
                    <img src="https://via.placeholder.com/50" alt="User">
                    <span>Professora</pan>
                </div>
            </header>
            <section class="courses">
                <div class="course">
                    <div class="course-info">
                        <h3>Sistema Operacional</h3>
                        <p>Aprenda os conceitos básicos de sistemas operacionais, mecanismos e estruturas.</p>
                        <span>Criado por Mark Lee</span>
                    </div>
                    <div class="course-icon">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                </div>
                <div class="course">
                    <div class="course-info">
                        <h3>Inteligência Artificial</h3>
                        <p>Inteligência demonstrada por máquinas, em contraste com a inteligência natural.</p>
                        <span>Criado por Jung Jaehyun</span>
                    </div>
                    <div class="course-icon">
                        <i class="fas fa-robot"></i>
                    </div>
                </div>
                <div class="course">
                    <div class="course-info">
                        <h3>Engenharia de Software</h3>
                        <p>Aplicação de uma abordagem sistemática e disciplinada para o desenvolvimento de software.</p>
                        <span>Criado por Kim Taeyong</span>
                    </div>
                    <div class="course-icon">
                        <i class="fas fa-code"></i>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <script src="script.js"></script>
</body>
</html>

