* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #002400;
    margin: 0;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    flex-direction: row;
}

.login-section, .image-section {
    padding: 40px;
    flex: 1;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h1 span {
    font-size: 1.2em;
}

p {
    margin: 10px 0;
}

.apple-login {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.or {
    text-align: center;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.remember-forgot a {
    color: #007bff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: #fca311;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.signup {
    text-align: center;
    margin-top: 20px;
}

.signup a {
    color: #007bff;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        height: 100vh;
    }

    .login-section, .image-section {
        padding: 20px;
    }

    .image-section {
        display: none;
    }
}

@media (max-width: 480px) {
    .login-section {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .apple-login, .login-btn {
        padding: 10px;
        font-size: 1em;
    }

    .remember-forgot {
        flex-direction: column;
        align-items: flex-start;
    }

    .remember-forgot a {
        margin-top: 10px;
    }
}

